@model IEnumerable<itTrend.Models.Course>

@{
    ViewData["Title"] = "Курсы";
}

<h1>Курсы</h1>

<p>
    <a asp-action="Create">Добавить курс</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Номер курса
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Подробно</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
